<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="myFooter">
            <footer>
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="">
                                <p>Copyright © 2021 NESREA - Designed by: <a href="https://www.cimspace.com/">Cimspace Technology</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Bootstrap core JavaScript -->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Additional Scripts -->
            <script src="/assets/js/custom.js"></script>
            <script src="/assets/js/owl.js"></script>

        </div>
    </body>
</html>

