<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <body>
        <div th:fragment="myNavBar">
<!--            <header>-->

                <nav>
                    <div >
                        <a href="/nesera/library/index"><h2>NESREA <em>E-LIBRARY</em></h2></a>
                        <div >
                            <ul class="">
                                <li><a  href="/nesera/library/register-user">Register</a></li>
                                <li><a  href="/nesera/library/login-user">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

<!--            </header>-->
        </div>
    </body>

</html>
