<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">

<body>
<div layout:fragment="content">
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="">
                                <h3 class="">Welcome back!</h3>

                                <!-- Sign In Form -->
                                <form>

                                    <div class="">
                                        <input type="email" class="" id="floatingFName" placeholder="firstname">
                                        <label for="floatingFName">First Name</label>
                                    </div>

                                    <div class="">
                                        <input type="email" class="" id="floatingLName" placeholder="lastname">
                                        <label for="floatingLName">Last Name</label>
                                    </div>

                                    <div class="">
                                        <input type="email" class="" id="floatingUsername" placeholder="username">
                                        <label for="floatingUsername">Username</label>
                                    </div>

                                    <div class="">
                                        <input type="email" class="" id="floatingEmail" placeholder="name@example.com">
                                        <label for="floatingEmail">Email address</label>
                                    </div>

                                    <div class="">
                                        <input type="email" class="" id="floatingDob" placeholder="dob">
                                        <label for="floatingDob">Date of Birth</label>
                                    </div>

                                    <div class="">
                                        <input type="password" class="" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>

                                    <div class="">
                                        <input type="password" class="" id="floatingCPassword" placeholder="Confirm Password">
                                        <label for="floatingCPassword">Confirm Password</label>
                                    </div>

                                    <div class="">
                                        <input class="" type="checkbox" value="" id="rememberPasswordCheck">
                                        <label class="" for="rememberPasswordCheck">
                                            Remember password
                                        </label>
                                    </div>

                                    <div class="">
                                        <button class="" type="submit">Register User</button>
                                        <div class="">
                                            <a class="" href="#">Forgot password?</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>